Fabric==1.9.1
SQLAlchemy==0.9.7
beautifulsoup4==4.3.2
boto==2.32.1
csvkit==0.8.0
dbf==0.94.003
ecdsa==0.11
gnureadline==6.3.3
humanize==0.5
ipython==2.2.0
jdcal==1.0
lxml==3.3.5
openpyxl==2.0.4
paramiko==1.14.0
psycopg2==2.5.3
pycrypto==2.6.1
python-dateutil==1.5
requests==2.3.0
six==1.7.3
termcolor==1.1.0
wsgiref==0.1.2
xlrd==0.9.3
